* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121b27;
  color: #000;
  font-family: "Krub", sans-serif;
  margin: 0 auto;
}

.section-home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centre {
  height: 500px;
  width: 900px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #a75fd2;
}

@media (max-width: 500px) {
  .centre {
    height: 500px;
    width: 400px;
  }
}

.centre h1 {
  font-family: "Krub" sans-serif;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  color: rgb(38, 38, 39);
}

.centre p {
  font-family: "League Spartan";
  text-align: center;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 151.52%;
  color: #686868;
  margin: 40px auto;
  padding: 0 50px;
}

.centre a {
  background-color: #121b27;
  color: #ffffff;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 10px;
  text-decoration: none;
  width: 220px;
  height: 50px;
  text-align: center;
  border: 3px solid #a75fd2;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 80px;
}
